body {
    font-family: "gill sans", sans-serif;
    color: black;
    background-color: midnightblue;
}

.main{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: midnightblue;
}


.border>div {
    position: absolute;
    z-index: 1;
    background-color: azure;
}

.border__right {
    right: 3%;
    top: 4%;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

.border__left{
  left: 3%;
  top: 4%;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.border__top{
  top: 4%;
  left: 3%;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.border__bottom{
  bottom: 4%;
  left: 3%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.border__left, .border__right {
    width: 7px;
    height: 92%;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.border__top, .border__bottom{
  height: 7px;
  width: 94%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.main h1{
  font-size: 5em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 14%;
  color: white;
  text-shadow: 2px 2px 1px rgb(255, 80, 50);
  animation: 1.5s ease-out 0s 1 textAppear;
}

.main h2{
  font-size: 3em;
  position: absolute;
  top: 45%;
  left: 14%;
  color: white;
  animation: 1.5s ease-out 0s 1 textAppear;

}

.main p, .main a{
  font-size: 1.3em;
  color: white;
  text-decoration: none;
    animation: 1.5s ease-out 0s 1 textAppear;
}

.main p{
  position: absolute;
  top: 70%;
  left: 14%;
}
.main p>a {
  color: white;
  text-decoration: none;
  border-bottom: 4px dotted rgb(255, 80, 50);
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 1000;
}

.main p>a:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 0%;
  background: rgb(255, 80, 50);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transition: height 250ms;
  transition: height 250ms;
}
.main p>a:hover {
  border-color: transparent;
}
.main p>a:hover:before {
  height: 100%;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 85%;
  width: 70px;
  height: 90px;
  transform: rotate(90deg);
}

.down:hover polyline,
.down:focus polyline {
  stroke-width: 3;
}

.down:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

#work{
  border: none;
  height: 0%;
  visibility:  hidden;
}

/* KEYFRAMES */

@keyframes slideInFromBottom{
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromTop{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight{
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes textAppear{
  0% {
     opacity: 0;
  }
  100%{
  opacity: 1;
  }
}


/* GRID */


.grid-container {
  width: 93%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  text-align: center;
  width: 1fr;
  height: 320px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.een{
  grid-column: 1;
  grid-row: 1;
  background-image: url(../images/werk1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.een>.info{
  grid-column: 1;
  grid-row: 1;
}

.twee{
  grid-column: 2;
  grid-row: 1;
  background-image: url(../images/werk2.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}
.twee>.info{
  grid-column: 2;
  grid-row: 1;
}

.drie{
  grid-column: 1;
  grid-row: 2;
  background-image: url(../images/werk3.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}
.drie>.info{
  grid-column: 1;
  grid-row: 2;
}

.vier{
  grid-column: 2;
  grid-row: 2;
  background-image: url(../images/werk4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.vier>.info{
  grid-column: 2;
  grid-row:2;
}

.info h3{
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: 1em auto 2em auto;
  background-color: rgba(0,0,0, 0.5);
  }


  .een h3{
    text-shadow: 1px 1px .5px red;
  }

  .twee h3{
    text-shadow: 1px 1px .5px blue;
  }

  .drie h3{
    text-shadow: 1px 1px .5px lightgreen;
  }
  .vier h3{
    text-shadow: 1px 1px .5px yellow;
  }

.info a{
  color: white;
  font-weight: bold;
  border-bottom: 4px dotted midnightblue;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  opacity: .4;
  padding: 0 .2em;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 1000;
}


.info p>a:before {
  content: "";
  z-index: -1;
  width: 0%;
  height: 0%;
  background: midnightblue;
  opacity: 1;
  bottom: 30%;
  left: 30%;
  position: absolute;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
.info p>a:hover {
  border-color: transparent;
}
.info p>a:hover:before {
  width: 40%;
  height: 10%;
}

.info p>a:hover{
  opacity: 1;
}


.een:hover{
  z-index: 900;
  box-shadow:1px 1px CORNFLOWERBLUE, 2px 2px  CORNFLOWERBLUE, 3px 3px  CORNFLOWERBLUE;
  -webkit-transform: translateX(-3px) translateY(-3px);
  transform: translateX(-3px) translateY(-3px);
}
.twee:hover {
  z-index: 900;
  box-shadow: -1px 1px CORNFLOWERBLUE, -2px 2px CORNFLOWERBLUE, -3px 3px CORNFLOWERBLUE;
  -webkit-transform: translateX(3px) translateY(-3px);
  transform: translateX(3px) translateY(-3px);

}
.drie:hover{
  z-index: 900;
  box-shadow: 1px -1px CORNFLOWERBLUE, 2px -2px CORNFLOWERBLUE, 3px -3px CORNFLOWERBLUE;
  -webkit-transform: translateX(-3px) translateY(3px);
  transform: translateX(-3px) translateY(3px);
}
.vier:hover{
  z-index: 900;
  box-shadow:-1px -1px CORNFLOWERBLUE, -2px -2px CORNFLOWERBLUE,-3px -3px CORNFLOWERBLUE;
  -webkit-transform: translateX(3px) translateY(3px);
  transform: translateX(3px) translateY(3px);
}



/* contact */


.contact{
  margin: 3em auto 2em auto;
  color: red;
  font-size: 1.2em;
  text-align: center;
  line-height: 30px;
}

.contact a{
  color: rgb(255, 80, 50);
}

.contact p>a {
  color: white;
  text-decoration: none;
  border-bottom: 4px dotted rgb(255, 80, 50);
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  z-index: 1000;
}
.contact p>a:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 0%;
  background: rgb(255, 80, 50);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transition: height 250ms;
  transition: height 250ms;
}
.contact p>a:hover {
  border-color: transparent;
}
.contact p>a:hover:before {
  height: 100%;
}


/* responsive */

@media (max-width: 500px){

  .main{
    width: 90vw;
  }

  .main h1{
    font-size: 2.5em;
  }
  .main h2{
    font-size: 2.2em;
  }

  .main p, .main a{
    font-size: 1.2em;
  }

  .main button{
    display: none;
  }


  .grid-container {
    width: 80%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
   }

   .grid-item{
     margin-bottom: -3em;
   }


   .een, .twee, .drie, .vier{
     grid-column: 1;
   }

   .een{
     grid-row: 1;
   }

   .twee{
     grid-row: 2;
   }

   .drie{
     grid-row: 3;
   }

   .vier{
     grid-row: 4;
   }

   .info h3{
     font-size: 1.8em;
   }

   .info a{
     margin-top: 25%;
     font-size: 1.4em;
     opacity: 1;
   }

   .contact{
     margin: 1em auto;
   }

}
