body {
    font-family: "gill sans", sans-serif;
    color: black;
    background-color: rgb(56, 64, 67);
}

.main{
  height: 100vh;
  width: 100vw;
}

h1 a{
  color: white;
  text-decoration: none;
}

.navbar{
  width: 100%;
  height: 80px;
  padding-bottom: 10px;
  color: white;
}

.navbar nav{
  position: fixed;
  left: 75%;
  top: 45px;
  z-index: 6;
}

.navbar h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0 0 3em;
}

.navbar nav li{
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline;
}

.navbar nav a{
  text-decoration: none;
  color: white;
}
.navbar nav ul li a{
  display: inline;
  position: relative;
  overflow: hidden;
}
.navbar nav ul li a:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -8px;
  background: white;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.navbar nav ul li a:hover:after,
.navbar nav ul li a:focus:after,
.navbar nav ul li a:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.grid-container {
  width: 70%;
  margin: 4em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 100px;
}

.grid-item {
  text-align: center;
  width: 100%;
  height: 250px;
  border-radius: 15%;

}

.een img, .twee img, .drie img, .vier img, .vijf img{
  width: 100%;}

.overlay {
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  color: white;
  top: -244px;
  left: 0%;
  transition: all 0.4s ease-in-out;
}

.overlay h3{
  font-size: 2em;
  padding: 0 50px 50px 50px;
}

.overlay a{
  color: white;
}

.grid-item img {
  transition: all 0.2s linear;
  width: 100%;
}

.grid-item h3 {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.grid-item p {
  transform: translateY(120px);
  opacity: 0;
  transition: all 0.2s linear;
}

.een:hover .overlay, .twee:hover .overlay, .drie:hover .overlay, .vier:hover .overlay {
  opacity: 0.7;
}

.overlay:hover h3, .overlay:hover p{
  opacity: 1;
  transform: translateY(50px);
}

.overlay:hover p{
  transition-delay: 0.1s;
}

/* contact */

.contact{
  position: relative;
  margin: 2em auto;
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}

.contact a{
  color: white
}

/* responsive */

@media (max-width: 650px){

  .grid-container{
    margin: 3em auto;
    grid-template-columns: 1fr;
    grid-gap: 0px;
 }

 .navbar h1{
   font-size: 2.5em;
   margin: 50px 0 0 0;
   text-align: center;
 }

.navbar{
  padding: 0;
  height: auto;
}

 .navbar nav{
   display: none;
 }


.overlay{
  height: 65%;
  margin-top: 28%;
}

.overlay h3{
  font-size: 1.5em;
  padding-bottom: 30px;
}

.overlay:hover h3, .overlay:hover p{
  transform: translateY(35px);
}

.contact{
  top: 25em;
}

}

@media (hover: none) {
  .overlay{
   visibility: hidden;
  }

  .overlay h3{
    opacity: 1;
    visibility: visible;
    font-size: 1.5em;
    margin-top: -40px;
    color: white;
    transition: none !important;
 }

 .overlay p{
   visibility: visible;
   opacity: 1;
   color: white;
   margin-top: 25px;
   transition: none !important;
 }

 .een:hover h3, .een:hover p{
   transition: none !important;
 }

}
